################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspireAppReactApp.sln

# Build Outputs (Compiled binaries and temporary build files)
[Bb]in/
[Oo]bj/
